<div ng-controller="ContestMonitoringCtrl">
	<div>
		<div>
			<p class="small mBottom0 italic" ng-show="!error500" style="line-height: 28px; margin-left: 15px;">{{'CONTEST.API_DISCLAIMER' | translate}}</p>
			<p class="contest-center" style="text-align: center;" ng-show="!error500 && !ListMonitoringContest.length && !showSpinner">
				{{'ERROR_SEARCH_MSG' | translate}}
			</p>
			<div style="padding:16px;" ng-show="error500 && !ListMonitoringContest.length && !showSpinner" widget-errorcall on-refresh="refreshPage()"></div>
			<div class="list list-empty list-spinner" data-ng-repeat="MonitoringContest in ListMonitoringContest | limitTo:numberOfItemsToDisplay track by $index">
				<div class="item item-wrapper">
					<div ng-click="changePageContestMonitoringDetail(MonitoringContest.contestCode)">
						<a class="item item-icon-left item-head-arrow">
							<!-- <div ng-if="MonitoringContest.isParent == false">
								<div class="prog-spinner prog-{{MonitoringContest.overall.spinner}}">
									<p>{{MonitoringContest.completedTask}}/{{MonitoringContest.totalTask}}</p>
								</div>
							</div> -->
							<div ng-if="MonitoringContest.achieveStatus == 0">
								<div class="list-trophy">
									<i class="ion-ios-close" style="font-size: 36px;"></i>
								</div>
							</div>
							<div ng-if="MonitoringContest.achieveStatus == 1">
								<div class="list-trophy">
									<i class="li ion-ios-checkmark font-green" style="font-size: 36px;"></i>
								</div>
							</div>
							<h2 class="marg-0" style="font-weight: 900;color:rgb(99, 99, 99);padding-right: 32px;">{{MonitoringContest.contestName}}</h2>
							<div style="padding-right: 32px;" ng-show=true>
								<div ng-if="MonitoringContest.isDiff == true" ng-show="true" style="font-size: 11px;">
									{{'SIDEBAR_CONTEST' | translate}} {{'MONITORING_DUEDATE_CONTEST' | translate}} 
									<strong>{{MonitoringContest.periodEndDiff}}</strong>
									<p style="font-size: 11px;">
										(<strong>{{MonitoringContest.daysLeft}}</strong> {{'MONITORING_DAYSLEFT_CONTEST' | translate}})
									</p>
								</div>
								<div ng-if="MonitoringContest.isDiff == false" ng-show="true" style="font-size: 11px;">
									{{'SIDEBAR_CONTEST' | translate}} {{'MONITORING_DUEDATE_CONTEST' | translate}}  <strong>{{MonitoringContest.daysLeft}}</strong> 
								</div>
							</div>
						</a>
						<div class="list sub-list sub-contest">
							<div class="contest-progressbar">
								<div class="content-progress text-center inline-type" data-ng-repeat="SubContest in MonitoringContest.SubContests">
									<div ng-if="SubContest.achieved == false && SubContest.achieveStatus == 0" ng-show=true style="margin-bottom: 7px;">
										<i class="icon ion-ios-close assertive" style="font-size: 36px;"></i>
									</div>
									<div ng-if="SubContest.achieved == true && SubContest.achieveStatus == 1" ng-show=true style="margin-bottom: 7px;">
										<i class="icon ion-ios-checkmark font-green" style = "font-size: 36px;"></i>
									</div>
									<div ng-if="SubContest.achieved == true && SubContest.achieveStatus == 2" ng-show=true style="margin-bottom: 7px;">
										<i class="icon ion-ios-checkmark gray" style = "font-size: 36px;"></i>
									</div>
									<p class="alias" ng-class="{ 'active' : SubContest.isActive == true }">{{SubContest.alias}}</p>
								</div>
							</div>
						</div>
					</div>
					<div class="list sub-list">
						<a class="item item-icon-left" data-ng-repeat="contestParam in MonitoringContest.params" ng-click="changePageParameter(contestParam.key ? contestParam.key : contestParam.type, MonitoringContest)">
						<!-- <a class="item item-icon-left" data-ng-repeat="contestParam in MonitoringContest.params" ng-click="changePageContestMonitoringDetail(MonitoringContest.contestCode)"> -->
							<div ng-if="contestParam.progressCheckType=='percentage' || contestParam.progressCheckType=='progress'" ng-show=true class="content-progress">
								<div class="prog-spinner {{contestParam.progType}}-{{contestParam.percentageRound}}">
									<p>{{contestParam.percentage}}<small>%</small></p>
								</div>
							</div>
							<div ng-if="contestParam.key != 'other'">
							<i ng-if="contestParam.progressCheckType=='check'" ng-show=true ng-class="{'icon ion-ios-close assertive':!contestParam.achieved, 'icon ion-ios-checkmark font-green':contestParam.achieved}"></i>
							<i ng-if="contestParam.type != 'ranking'" class="ion-ios-arrow-forward pull-right" style="font-size: 24px; color: #ccc;"></i>
							<i ng-if="contestParam.type == 'ranking' && contestParam.actual > 0" class="ion-ios-arrow-forward pull-right" style="font-size: 24px; color: #ccc;"></i>
							</div>
							<p>{{contestParam.title | translate}}</p>
							<div ng-bind-html='contestParam.subtitle' style="margin-right: 30px;">
							</div>
						</a>
					</div>
				</div>
			</div>
			<div style="padding:16px;" ng-show="error500 && ListMonitoringContest.length && !showSpinner" widget-errorresult on-refresh="refreshPage()"></div>
			<div ng-show="showSpinner">
				<center>
					<ion-spinner class="red small" icon="ios"></ion-spinner>
				</center>
			</div>
			<ion-infinite-scroll ng-if="MoreItemsAvailable() && !error500" on-infinite="loadMore()"></ion-infinite-scroll>
		</div>
	</div>
</div><script type="text/javascript">
	AnalyticsLog.logPage("prudential.mycontest.monitoring");
</script>